<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058881425129-vgilbdndjv0gelejq0qjs8eak9v0pspq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058881425129-vgilbdndjv0gelejq0qjs8eak9v0pspq</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Qfj14Mxzb6gMbT2vwUHEUxmDpGZfoCE</string>
	<key>GCM_SENDER_ID</key>
	<string>1058881425129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KeyboardGames.AvalancheRun</string>
	<key>PROJECT_ID</key>
	<string>avalanche-run-3339d</string>
	<key>STORAGE_BUCKET</key>
	<string>avalanche-run-3339d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058881425129:ios:9dd94dd86be2f0cea1aa78</string>
</dict>
</plist>